.screen {
  right: 0;
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu {
  display: flex;
}

.menu-link {
  padding: 10px;
  cursor: pointer;
  color: white;
  height: 13vh;
  width: 20vw;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-family: 'Bricolage Grotesque', sans-serif;
  border-bottom: 3px solid #0e08ff;
  border-left: 3px solid #0e08ff;
  border-right: 3px solid #0e08ff;
  position: relative;
  z-index: 2;
  background-color: #0e08ff;
  overflow: hidden;
}
.title{
    z-index: 2;
}

.menu-link span {
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s;
}


.menu-link.selected span {
  transform: translatey(100%);

}

.content {
  display: flex;
  flex: 1;
  color: white;
  align-items: center;
  justify-content: center;
}


.slide-up-enter {
    transform: translatex(100%);
}

.slide-up-enter-active {
    transform: translateY(0%);
    transition: transform .5s ease-in-out; 
}

.slide-up-exit {
    transform: translateY(0%);
}

.slide-up-exit-active {
    transform: translateY(100%);
    transition: transform .5s ease-in-out; 
}

.slide-down-enter {
    transform: translateY(100%);
}

.slide-down-enter-active {
    transform: translateY(0%);
    transition: transform .5s ease-in-out; 
}

.slide-down-exit {
    transform: translateY(0%);
}

.slide-down-exit-active {
    transform: translateY(-100%);
    transition: transform .5s ease-in-out; 
}

.detalhes{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  position: absolute;
  bottom: 1vh;
  right: 0;
}

.detalhes-linha{
  border-top: 2px solid #0e08ff;
  border-bottom: 2px solid #0e08ff;
  border-left: 2px solid #0e08ff;
  height: 2vh;
  width: 4vw;
}

.copyright{
  position: absolute;
  color: white;
  font-size: 0.8rem;
  padding-bottom: 10px;
  text-align: center;
  left: 0;
  bottom: 0;
  font-family: 'Roboto Mono', monospace;
}

.copyright a{
  text-decoration: none;
  color: #0e08ff;
}
