.screen {
  right: 0;
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu {
  display: flex;
}

.menu-link {
  padding: 10px;
  cursor: pointer;
  color: white;
  height: 13vh;
  width: 20vw;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-family: 'Bricolage Grotesque', sans-serif;
  border-bottom: 3px solid #0e08ff;
  border-left: 3px solid #0e08ff;
  border-right: 3px solid #0e08ff;
  position: relative;
  z-index: 2;
  background-color: #0e08ff;
  overflow: hidden;
}
.title{
    z-index: 2;
}

.menu-link span {
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s;
}


.menu-link.selected span {
  transform: translatey(100%);

}

.content {
  display: flex;
  flex: 1;
  color: white;
  align-items: center;
  justify-content: center;
}


.slide-up-enter {
  transform: translateY(-100%);
  opacity: 0;
}

.slide-up-enter-active {
  transform: translateY(0%);
  opacity: 1;
  transition: transform 1s cubic-bezier(0.4, 0.0, 0.2, 2.0), opacity 1s cubic-bezier(0.4, 0.0, 0.2, 2.0);
}

.slide-up-exit {
  transform: translateY(0%);
  opacity: 1;
}

.slide-up-exit-active {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1s cubic-bezier(0.4, 0.0, 0.2, 2.0), opacity 1s cubic-bezier(0.4, 0.0, 0.2, 2.0);
}


.detalhes{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  position: absolute;
  bottom: 1vh;
  right: 0;
}

.detalhes-linha{
  border-top: 2px solid #0e08ff;
  border-bottom: 2px solid #0e08ff;
  border-left: 2px solid #0e08ff;
  height: 2vh;
  width: 4vw;
}

.copyright{
  position: absolute;
  color: white;
  font-size: 0.8rem;
  padding-bottom: 10px;
  text-align: center;
  left: 0;
  bottom: 0;
  font-family: 'Roboto Mono', monospace;
}

.copyright a{
  text-decoration: none;
  color: #0e08ff;
}


@media (max-width: 1140px) {
  .screen{
    width: 100%;
  }
  .menu-link{
    font-size: 1.8rem;
    width: 220px;
    border-top: 3px solid #0e08ff;
  }

  .detalhes{
    bottom: 5vh;
  }
  .copyright{
    position: relative;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    width: 80%;

  }
}

@media (max-width: 575px) {
  .detalhes{
    display: none;
  }
}

@media (max-width: 530px) {
  .detalhes{
    display: none;
  }
  .menu-link{
    font-size: 1.4rem;
    width: 150px;
    border-top: 3px solid #0e08ff;
  }
  .copyright{
    width: 80%;
  }
}

@media (max-width: 350px) {
  /* regras para celular pequeno */
}
