.about {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  padding: 1vh 20px;
}

.side-bar {
  height: 55vh;
  width: 3px;
  background-color: #0e08ff;
  position: absolute;
  right: 66%;
  bottom: 20vh;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
  padding: 10px;
  border: 3px solid #0e08ff;
  background-image: url("/public/images/PERFIL-GIBA.png");
  background-size: cover;
  height: 150px;
  width: 150px;

}

.avatar img {
  width: 10vw;
}

.socials {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0e08ff;
  flex-direction: column;
  width: 50px;
  height: 30vh;
}
.socials a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

.icon:hover {
  color: black;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-left: 2vw;
  width: 90%;
}

.about-text h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  margin: 2%;
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

.about-text p {
  font-family: "Roboto Mono", monospace;
  color: white;
  padding: 10px;
  text-align: left;
  width: 100%;
  font-size: 1rem;
}

.about-download {
  background-color: white;
  display: flex;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.6s, color 0.6s, width 0.6s;
  margin-top: 20px;
  width: 20%;
  left: 0;
  bottom: 5%;
  position: absolute;
}

.download {
  flex: 1;
  padding: 5px 0px 5px 20px;
  font-family: "Roboto Mono", monospace;
  color: #0e08ff;
  font-weight: 700;
  text-align: center;
}

.links {
  display: none;
  align-items: center;
  width: 100%;
  flex: 1;
  justify-content: space-around;
}

.links a {
  color: white;
  text-decoration: none;
  margin: 2px;
  font-family: "Roboto Mono", monospace;
}

.about-download.hovered .download {
  color: white;
  text-align: none;
}

.links a:hover {
  color: black;
}
.about-download.hovered {
  background-color: #0e08ff;
  color: white;
  width: 30%;
  justify-content: space-around;
}

.about-download.hovered .links {
  display: flex;
}

@media (max-width: 1140px) {
  .about {
    width: 80vw;
    justify-content: center;
    align-items: center;
  }
  .side-bar {
    height: 3px;
    width: 80vw;
    background-color: #0e08ff;
    left: auto;
    right: auto;
    bottom: 40px;
    
  }
  .about-download {
    left: auto;
    bottom: auto;
    top: 0;
    right: 0;
    transition: background-color 0.6s, color 0.6s, height 0.6s;
  }
  .about-download.hovered {
    height: 18%;
    width: 20%;
    justify-content: center;
    flex-direction: column;
  }
  .about-download.hovered .links {
    display: flex;
  }
  .about-download.hovered .download {
    text-align: center;
  }

  .avatar img {
    width: 20vw;
  }
}

@media (max-width: 768px) { 
  .about-download{
    width: 150px;
  transition: background-color 0.6s, color 0.6s, height 0.6s;
  }

  .about-download .download{
    padding: 0;
  }

  .about-download.hovered .download{
    padding: 0 0 20px 0;
  }
  .about-download.hovered{
    width: 150px;
    height: auto;
  }
  .about-download.hovered .download{
    height: auto;
  }

  .about-download.hovered .links{
    flex-direction: column;
    gap: 10px;
  }

 
}

@media (max-width: 460px) {
  .about{
    width: 100vw;
  }
}

@media (max-width: 375px) {
  .side-bar{
    display: none;
  }
}

@media (max-width: 350px) {
  /* regras para celular pequeno */
}
