.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 20px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: auto;
  padding-right: 30px;
  margin-left: 55px;
}

.items::-webkit-scrollbar {
  width: 8px;
}

.items::-webkit-scrollbar-thumb {
  background-color: #0e08ff;
  border-radius: 4px;
}

.item {
  border: 3px solid #0e08ff;
  color: white;
  padding: 0;
  margin: 20px;
  width: 20vw;
  height: 14vw;
  display: flex;
  overflow: hidden;
  position: relative;
  background-size: cover;
}

.item-title-btn{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

.blue-mask {
  position: relative;
}

.blue-mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 8, 255, 0.5);
  z-index: 0;
}

.blue-mask:hover .item-overlay {
  transform: translateY(-100%);
}

.blue-mask:hover .item-title-btn h3{
  transform: translateY(-500%);
}


.blue-mask:hover .item-btn {
  transform: translateY(40%);
}

.item-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: black;
  transition: transform 0.6s ease;
}

.item-overlay h3 {
  transition: transform 0.6s ease;
}

.item:hover .item-overlay h3 {
  transform: translateY(-100%);
}

.item-title-btn h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  width: 85%;
  transition: transform 0.8s ease;
}

.item-btn {
  width: 100%;
  display: flex;
  transition: transform 0.8s;
  position: relative;
  z-index: 3;
}

.item-btn a {
  display: inline-block;
  border: 3px solid white;
  color: white;
  padding: 10px;
  margin: 0 10px;
  text-decoration: none;
  text-align: center;
  font-family: "Bricolage Grotesque", sans-serif;
  transition-property: background-color, color;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  background-color: black;
}

.item-btn a:hover {
  background-color: white;
  color: black;
}

.btn {
  width: 50%;
}

@media (max-width: 1440px) {
  .item-title-btn h3{
    font-size: 1.5rem;
  }

  .item-btn a{
    font-size: 0.8rem;
  }
}

@media (max-width: 1280px) {
  .item-title-btn h3{
    font-size: 1.2rem;
  }

  .item-btn a{
    font-size: 0.6rem;
  }
}

@media (max-width: 1140px) {
  .item{
    width: 220px;
    height: 180px;
  }
  .item-title-btn{
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  /* regras para tablet */
}

@media (max-width: 530px) {
  .items{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 375px) {
  /* regras para celular */
}

@media (max-width: 320px) {
  /* regras para celular pequeno */
}
